*{
  box-sizing:border-box;
}


body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: brown;
  color: black;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}
label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 10px 0 0;
  width: 100%;
  padding:10px;
  background-color:white;
  border:none;

  
}
.registerbtnn{
    width: 240px;
    height: 40px;
    background: chocolate;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

  .login {
  background-color: chocolate;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;